@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype"); /* Keep TTF as fallback */
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500; /* Assuming Medium is weight 500 */
  src:
    url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold; /* Assuming Bold */
  src:
    url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  src:
    url("../assets/fonts/Inter/Inter_18pt-Medium.ttf") format("truetype"); /* Keep TTF as fallback */
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500; /* Assuming Medium is weight 500 */
  src:
    url("../assets/fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Corsa_Grotesk;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/CorsaGrotesk/Typedepot - Corsa Grotesk Regular.otf")
      format("woff2"),
    url("../assets/fonts/CorsaGrotesk/Typedepot - Corsa Grotesk Regular.otf")
      format("woff"),
    url("../assets/fonts/CorsaGrotesk/Typedepot - Corsa Grotesk Regular.otf")
      format("opentype"); /* Keep OTF as fallback */
}
@font-face {
  font-family: Corsa_Grotesk;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/CorsaGrotesk/Typedepot - Corsa Grotesk Regular.otf")
      format("woff2"),
    url("../assets/fonts/CorsaGrotesk/Typedepot - Corsa Grotesk Thin.otf")
      format("woff"),
    url("../assets/fonts/CorsaGrotesk/Typedepot - Corsa Grotesk Thin.otf")
      format("opentype"); /* Keep OTF as fallback */
}
/*@font-face {*/
/*    font-family:Spaced;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: url("../assets/fonts/Spaced/Spaced OTF.otf");*/
/*}*/
@font-face {
  font-family: Spaced;
  font-style: normal;
  font-weight: normal;
  src: local("Spaced Regular"),
    url("../assets/fonts/Spaced/Spaced OTF.woff") format("woff2"),
    url("../assets/fonts/Spaced/Spaced OTF.woff") format("woff"),
    url("../assets/fonts/Spaced/Spaced OTF.otf") format("opentype"); /* Add OTF as fallback */
}
