/* Primitives */
:root {
    /* Value */
    /* color */
    --blue-blue-0: #e7f5ff;
    --blue-blue-1: #d0ebff;
    --blue-blue-2: #a5d8ff;
    --blue-blue-3: #74c0fc;
    --blue-blue-4: #4dabf7;
    --blue-blue-5: #339af0;
    --blue-blue-6: #228be6;
    --blue-blue-7: #1c7ed6;
    --blue-blue-8: #1971c2;
    --blue-blue-9: #1864ab;
    --color-black: #000000;
    --color-white: #ffffff;
    --dark-dark-0: #c9c9c9;
    --dark-dark-1: #b8b8b8;
    --dark-dark-2: #828282;
    --dark-dark-3: #696969;
    --dark-dark-4: #424242;
    --dark-dark-5: #3b3b3b;
    --dark-dark-6: #2e2e2e;
    --dark-dark-7: #242424;
    --dark-dark-8: #1f1f1f;
    --dark-dark-9: #141414;
    --gray-gray-0: #f8f9fa;
    --gray-gray-1: #f1f3f5;
    --gray-gray-2: #e9ecef;
    --gray-gray-3: #dee2e6;
    --gray-gray-4: #ced4da;
    --gray-gray-5: #adb5bd;
    --gray-gray-6: #868e96;
    --gray-gray-7: #495057;
    --gray-gray-8: #343a40;
    --gray-gray-9: #212529;
    --primary-primary-color-0: var(--blue-blue-0);
    --primary-primary-color-1: var(--blue-blue-1);
    --primary-primary-color-2: var(--blue-blue-2);
    --primary-primary-color-3: var(--blue-blue-3);
    --primary-primary-color-4: var(--blue-blue-4);
    --primary-primary-color-5: var(--blue-blue-5);
    --primary-primary-color-6: var(--blue-blue-6);
    --primary-primary-color-7: var(--blue-blue-7);
    --primary-primary-color-8: var(--blue-blue-8);
    --primary-primary-color-9: var(--blue-blue-9);
    --primary-primary-color-dark-15: #228be626;
    --primary-primary-color-dark-20: #228be633;
    --primary-primary-color-ligh-10: #228be61a;
    --primary-primary-color-light-12: #228be61f;
    --red-dark-15: #fa525226;
    --red-light-12: #fa52521f;
    --red-red-0: #fff5f5;
    --red-red-1: #ffe3e3;
    --red-red-2: #ffc9c9;
    --red-red-3: #ffa8a8;
    --red-red-4: #ff8787;
    --red-red-5: #ff6b6b;
    --red-red-6: #fa5252;
    --red-red-7: #f03e3e;
    --red-red-8: #e03131;
    --red-red-9: #c92a2a;
    --teal-teal-0: #e6fcf5;
    --teal-teal-1: #c3fae8;
    --teal-teal-2: #96f2d7;
    --teal-teal-3: #63e6be;
    --teal-teal-4: #38d9a9;
    --teal-teal-5: #20c997;
    --teal-teal-6: #12b886;
    --teal-teal-7: #0ca678;
    --teal-teal-8: #099268;
    --teal-teal-9: #087f5b;
    --yellow-yellow-0: #fff9db;
    --yellow-yellow-1: #fff3bf;
    --yellow-yellow-2: #ffec99;
    --yellow-yellow-3: #ffe066;
    --yellow-yellow-4: #ffd43b;
    --yellow-yellow-5: #fcc419;
    --yellow-yellow-6: #fab005;
    --yellow-yellow-7: #f59f00;
    --yellow-yellow-8: #f08c00;
    --yellow-yellow-9: #e67700;
}
/* Tokens */
:root {
    /* Light */
    /* color */
    --background-body: var(--color-white);
    --background-default: var(--color-white);
    --background-default-hover: var(--gray-gray-0);
    --background-transparent: #ffffff00;
    --background-disabled-default: var(--gray-gray-2);
    --background-error-filled: var(--red-red-6);
    --background-error-filled-hover: var(--red-red-7);
    --background-error-light: #fa52521a;
    --background-error-light-hover: #fa52521f;
    --background-gray-filled: var(--gray-gray-6);
    --background-gray-filled-hover: var(--gray-gray-7);
    --background-gray-light: var(--gray-gray-2);
    --background-gray-light-hover: #868e961f;
    --background-primary-filled: var(--primary-primary-color-6);
    --background-primary-filled-hover: var(--primary-primary-color-7);
    --background-primary-light: var(--primary-primary-color-ligh-10);
    --background-primary-light-hover: var(--primary-primary-color-light-12);
    --background-primary-low: var(--primary-primary-color-0);
    --background-primary-low-light: #e7f5ff1a;
    --background-success-filled: var(--teal-teal-6);
    --background-success-filled-hover: var(--teal-teal-7);
    --background-success-light: #12b8861a;
    --background-success-light-hover: #12b8861f;
    --background-warning-filled: var(--yellow-yellow-6);
    --background-warning-filled-hover: var(--yellow-yellow-7);
    --background-warning-light: #fab0051a;
    --background-warning-light-hover: #fab0051f;
    --border-default: var(--gray-gray-3);
    --border-error-default: var(--red-red-6);
    --border-gray-default: var(--gray-gray-6);
    --border-primary-default: var(--primary-primary-color-6);
    --border-success-default: var(--teal-teal-6);
    --border-warning-default: var(--yellow-yellow-6);
    --neutral-black: #000000;
    --neutral-white: #ffffff;
    --text-default-default: var(--gray-gray-9);
    --text-default-dimmed: var(--gray-gray-6);
    --text-default-link: var(--primary-primary-color-6);
    --text-default-placeholder: var(--gray-gray-5);
    --text-default-title: var(--color-black);
    --text-disabled-default: var(--gray-gray-5);
    --text-error-default: var(--red-red-6);
    --text-error-disabled: var(--red-red-4);
    --text-gray-default: var(--gray-gray-7);
    --text-invert-default: var(--gray-gray-1);
    --text-invert-dimmed: var(--gray-gray-3);
    --text-invert-link: var(--primary-primary-color-3);
    --text-invert-placeholder: var(--gray-gray-4);
    --text-invert-title: var(--color-white);
    --text-primary-default: var(--primary-primary-color-6);
    --text-success-default: var(--teal-teal-6);
    --text-warning-default: var(--yellow-yellow-6);
    /* number */
    --padding-padding-xxs: 0.5rem;
    --padding-padding-xs: 0.75rem;
    --padding-padding-sm: 1rem;
    --padding-padding-md: 1.25rem;
    --padding-padding-lg: 1.5rem;
    --padding-padding-xl: 2rem;
    --radius-radius-none: 0rem;
    --radius-radius-xs: 0.125rem;
    --radius-radius-sm: 0.25rem;
    --radius-radius-md: 0.5rem;
    --radius-radius-lg: 1rem;
    --radius-radius-xl: 1.5rem;
    --radius-radius-xxl: 2rem;
    --spacing-spacing-none: 0rem;
    --spacing-spacing-xxs: 0.125rem;
    --spacing-spacing-xs: 0.25rem;
    --spacing-spacing-sm: 0.5rem;
    --spacing-spacing-md: 0.75rem;
    --spacing-spacing-lg: 1rem;
    --spacing-spacing-xl: 1.5rem;
    --spacing-spacing-xxl: 2rem;
    /* string */
    --font-font-family: Poppins;
}