/* In Index.css */

/* Fade-up animation */
@keyframes fadeUp {
    0% {
        opacity: 0;
        /*transform: translateY(20px);*/
    }
    100% {
        opacity: 1;
        /*transform: translateY(0);*/
    }
}

.animate-fade {
    animation: fadeUp 1s ease-out forwards;
    opacity: 0; /* Start hidden */
}


.delay-300 {
    animation-delay: 1s;
}

.delay-600 {
    animation-delay: 1.5s;
}

.delay-900 {
    animation-delay: 2s;
}
.delay-1200{
    animation-delay: 2.5s;
}
.delay-1500{
    animation-delay: 3s;
}


